*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    color:bisque;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar{
    background-color:bisque !important;  
    color: black !important;     
}
.navbar-brand{
    font-family: 'Macondo', cursive !important; 
    font-size: 30px;
    font-weight: 800;
    color: black !important;
}
.navbar ul{
    
    color:black !important;
    font-size: 20px !important;
}
.intro{
    justify-content:center;
    align-items:center;
    text-align: center;
}
.intro h1{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Macondo', cursive;
    padding-top: 200px; 
    align-self: center;
 
}
.pitch{
    display:flex;
    flex-direction: row;
}
.card{
    background-color:black;
    border:3px solid bisque;
    border-radius: 10px;
    height: 40rem !important;
    width: 34rem !important;
    margin:50px !important;

}
.card-title{
    font-weight: 800;
    font-size: 30px;
    text-align: center
}
.card-subtitle{
    text-align: center;
    font-style: italic;
}
.card-text{
    font-size: 14px;
    
}